.headerOptions {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.headerOptions > button {
    /* height: 50px; */
    background: transparent;
    border: transparent;
    border-radius: 5px;
    color: grey;
    flex: 1;
    text-align: center;
    transition: 0.3s;
    padding-top: 10px;
    margin: 0 2px;
}

.headerOptions > button:hover {
    background-color: rgb(178, 178, 178);
    color: black;
    cursor: pointer;
}